{% load static %}

<style>
    .menu-header {
        color : black !important;
    }
    .text-color-blue {
        color : rgb(0, 162, 255) !important;
    }
</style>
<section>
    <div class="row text-center text-md-start py-2 header-section">
        <div class="col p-relative bottom-5">
            <ul class="breadcrumb d-block text-4 opacity-8 text-default mb-0">
                <li><a href="{% url 'rtlh_app:beranda' %}" class="text-decoration-none text-default">Beranda</a></li>
                <li class="text-color-blue menu-header active">Daftar Rumah</li>
            </ul>
            <h1 class="font-weight-bold menu-header text-10 mt-1 mb-0">Beranda</h1>
        </div>
    </div>
    </div>
</section>