{% load static %}
{% include 'admin/layouts/header.html' %}
{% include 'admin/layouts/sidebar.html' %}

<!doctype html>
<html lang="en" dir="ltr">

<head>

	<!-- FAVICON -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'html/assets/images/brand/favicon.ico' %}" />

	<!-- TITLE -->
	<title>SI-RUTILAH</title>

	<!-- BOOTSTRAP CSS -->
	<link href="{% static 'html/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

	<!-- STYLE CSS -->
	<link href="{% static 'html/assets/css/style.css' %}" rel="stylesheet" />
	<link href="{% static 'html/assets/css/dark-style.css' %}" rel="stylesheet" />
	<link href="{% static 'html/assets/css/skin-modes.css' %}" rel="stylesheet" />

	<!-- SIDE-MENU CSS -->
	<link href="{% static 'html/assets/css/sidemenu.css' %}" rel="stylesheet" id="sidemenu-theme">

	<!--C3 CHARTS CSS -->
	<link href="{% static 'html/assets/plugins/charts-c3/c3-chart.css' %}" rel="stylesheet" />

	<!-- P-scroll bar css-->
	<link href="{% static 'html/assets/plugins/p-scroll/perfect-scrollbar.css' %}" rel="stylesheet" />

	<!--- FONT-ICONS CSS -->
	<link href="{% static 'html/assets/css/icons.css' %}" rel="stylesheet" />

	<!-- SIDEBAR CSS -->
	<link href="{% static 'html/assets/plugins/sidebar/sidebar.css' %}" rel="stylesheet">

	<!-- SELECT2 CSS -->
	<link href="{% static 'html/assets/plugins/select2/select2.min.css' %}" rel="stylesheet" />

	<!-- INTERNAL Data table css -->
	<link href="{% static 'html/assets/plugins/datatable/css/dataTables.bootstrap5.css' %}" rel="stylesheet" />
	<link href="{% static 'html/assets/plugins/datatable/responsive.bootstrap5.css' %}" rel="stylesheet" />

	<!-- COLOR SKIN CSS -->
	<link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'html/assets/colors/color1.css' %}" />

</head>

<body class="app sidebar-mini">

	<!-- GLOBAL-LOADER -->
	<div id="global-loader">
		<img src="{% static 'assets/images/loader.svg' %}" class="loader-img" alt="Loader">
	</div>
	<!-- /GLOBAL-LOADER -->

	<!-- PAGE -->
	<div class="page">
		<class="page-main">
			<!--app-content open-->
			<div class="app-content">
				<div class="side-app">

					<!-- PAGE-HEADER -->
					<div class="page-header">
						<div>
							<h1 class="page-title">Data RTLH</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Forms</a></li>
								<li class="breadcrumb-item active" aria-current="page">Data RTLH</li>
							</ol>
						</div>
					</div>
					<!-- PAGE-HEADER END -->


					<form method="post" action="{% url 'rtlh_admin:tambahrtlh' %}" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Tambah Data RTLH</h3>
								</div>
								<div class="card-body pt-2">
                                    <div class="form-group">
										<label class="form-label">Nama KK</label>
										<select name="nama_kk" class="form-control" aria-describedby="nama_kkHelp">
											<option value="">Select Nama KK</option> <!-- Placeholder option -->
											{% for dt_daftar in data_daftar %}
												<option value="{{ dt_daftar.id }}">
													{{ dt_daftar.nama_kk }}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group">
										<label class="form-label">Status Tanah</label>
										<input type="text" value="{{ data_rumahrtlh.status_tanah }}" class="form-control"
											name="status_tanah" aria-describedby="emailHelp">
									</div>
									<div class="form-group">
										<label class="form-label">Status Kepemilikan</label>
										<input type="text" value="{{ data_permohonan.status_kepemilikan }}" class="form-control"
											name="status_kepemilikan" aria-describedby="emailHelp">
									</div>
                                    <div class="form-group">
										<label class="form-label">Luas Tanah</label>
										<input type="number" value="{{ data_rumahrtlh.luas_tanah }}" class="form-control"
											name="luas_tanah" aria-describedby="emailHelp">
									</div>
									<div class="form-group">
										<label class="form-label">Status Rumah</label>
										<input type="text" value="{{ data_rumahrtlh.status_rumah }}" class="form-control"
											name="status_rumah" aria-describedby="emailHelp">
									</div>
									<div class="form-group">
										<label class="form-label">Luas Bangunan</label>
										<input type="number" value="{{ data_permohonan.luas_bangunan }}" class="form-control"
											name="luas_bangunan" aria-describedby="emailHelp">
									</div>
                                    <div class="form-group">
										<label class="form-label">Kondisi Pondasi</label>
										<input type="text" value="{{ data_rumahrtlh.kondisi_pondasi }}" class="form-control"
											name="kondisi_pondasi" aria-describedby="emailHelp">
									</div>
									<div class="form-group">
										<label class="form-label">Kondisi Atap</label>
										<input type="text" value="{{ data_rumahrtlh.kondisi_atap }}" class="form-control"
											name="kondisi_atap" aria-describedby="emailHelp">
									</div>
									<div class="form-group">
										<label class="form-label">Kondisi Lantai</label>
										<input type="text" value="{{ data_permohonan.kondisi_lantai }}" class="form-control"
											name="kondisi_lantai" aria-describedby="emailHelp">
									</div>
                                    <div class="form-group">
										<label class="form-label">Kondisi Dinding</label>
										<input type="text" value="{{ data_rumahrtlh.kondisi_dinding }}" class="form-control"
											name="kondisi_dinding" aria-describedby="emailHelp">
									</div>
									<div class="form-group">
										<label class="form-label">Kondisi Ventilasi</label>
										<input type="text" value="{{ data_rumahrtlh.kondisi_ventilasi }}" class="form-control"
											name="kondisi_ventilasi" aria-describedby="emailHelp">
									</div>
									<div class="form-group">
										<label class="form-label">Kondisi Toilet</label>
										<input type="text" value="{{ data_permohonan.kondisi_toilet }}" class="form-control"
											name="kondisi_toilet" aria-describedby="emailHelp">
									</div>
                                    <div class="form-group">
										<label class="form-label">Sumber Air Bersih</label>
										<input type="text" value="{{ data_rumahrtlh.sumber_airbersih }}" class="form-control"
											name="sumber_airbersih" aria-describedby="emailHelp">
									</div>
									<div class="form-group">
										<label class="form-label">Sumber Listrik</label>
										<input type="text" value="{{ data_rumahrtlh.sumber_listrik }}" class="form-control"
											name="sumber_listrik" aria-describedby="emailHelp">
									</div>
                                    <div class="form-group">
										<label class="form-label">Kriteria</label>
										<select name="kriteria" class="form-control" aria-describedby="kriteriaHelp">
											<option value="">Select Kriteria</option> <!-- Placeholder option -->
											{% for dt_kri in data_kri %}
												<option value="{{ dt_kri.id }}">
													{{ dt_kri.kriteria }}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group">
										<label class="form-label">Upload Foto Rumah</label>
										<input type="file" class="form-control" name="img_rumah" accept="image/*">
									</div>
									<button type="submit" class="btn btn-primary mt-4 mb-0">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
	</div>
	</class>
	</div>


	</div>


	<!-- BACK-TO-TOP -->
	<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

	<!-- JQUERY JS -->
	<script src="{% static 'html/assets/js/jquery.min.js' %}"></script>

	<!-- BOOTSTRAP JS -->
	<script src="{% static 'html/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
	<script src="{% static 'html/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

	<!-- CHARTJS CHART JS-->
	<script src="{% static 'html/assets/plugins/chart/Chart.bundle.js' %}"></script>
	<script src="{% static 'html/assets/plugins/chart/utils.js' %}"></script>

	<!-- C3 CHART JS -->
	<script src="{% static 'html/assets/plugins/charts-c3/d3.v5.min.js' %}"></script>
	<script src="{% static 'html/assets/plugins/charts-c3/c3-chart.js' %}"></script>

	<!-- INPUT MASK JS-->
	<script src="{% static 'html/assets/plugins/input-mask/jquery.mask.min.js' %}"></script>

	<!-- SIDE-MENU JS-->
	<script src="{% static 'html/assets/plugins/sidemenu/sidemenu.js' %}"></script>

	<!-- SIDEBAR JS -->
	<script src="{% static 'html/assets/plugins/sidebar/sidebar.js' %}"></script>

	<!-- Perfect SCROLLBAR JS-->
	<script src="{% static 'html/assets/plugins/p-scroll/perfect-scrollbar.js' %}"></script>
	<script src="{% static 'html/assets/plugins/p-scroll/pscroll.js' %}"></script>
	<script src="{% static 'html/assets/plugins/p-scroll/pscroll-1.js' %}"></script>

	<!-- CUSTOM JS -->
	<script src="{% static 'html/assets/js/custom.js' %}"></script>

</body>

</html>