{% load static %}
{% include 'layouts2/navbar.html' %}


<style>
    .text-color-black {
        color : black !important;
    }
</style>
<section>
    <div class="row text-center text-md-start py-2 header-section">
        <div class="col p-relative bottom-5">
            <ul class="breadcrumb d-block text-4 opacity-8 text-default mb-0">
                <li><a href="{% url 'rtlh_app:beranda' %}" class="text-decoration-none text-default">Beranda</a></li>
                <li class="active">Kriteria</li>
            </ul>
            <h1 class="font-weight-bold text-color-black text-10 mt-1 mb-0">Kriteria Rumah</h1>
        </div>
    </div>
    </div>
</section>
<section class="section bg-transparent position-relative border-0 m-0 p-0">
    <div class="container custom-container-background custom-z-index-1 py-5">
        <div class="row position-relative z-index-1 pt-5-5">
            <div class="col">
                <div class="row pt-4">
                    <div class="col-sm-9 col-md-6 mb-5-5">
                        <div id="teamMember1" class="row align-items-center">
                            <div class="col-lg-5 col-xl-6 pe-lg-0 mb-0">
                                <img src="{% static 'assets/img/team/tipe a.jpeg' %}" class="img-fluid" alt="Image of the team member" />
                            </div>
                            <div class="col-lg-7 col-xl-6 ps-lg-4">
                                <h4 class="text-color-black font-weight-bold line-height-1 text-6 mt-3 mb-2">TIPE A</h4>
                                <h3 class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 mb-3">Kerusakan 0%</h3>
                                <p class="text-color-black text-4 line-height-8 mb-3-5">Sangat layak digunakan, Bahan bangunan sudah standar</p>
                                <a href="{% url 'rtlh_app:detailA' %}"
                                    class="custom-view-more d-inline-flex font-weight-semibold text-color-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-6 mb-5-5">
                        <div id="teamMember2" class="row align-items-center">
                            <div class="col-lg-5 col-xl-6 pe-lg-0 mb-0">
                                <img src="{% static 'assets/img/team/tipe b.jpeg' %}" class="img-fluid" alt="Image of the team member" />
                            </div>
                            <div class="col-lg-7 col-xl-6 ps-lg-4">
                                <h4 class="text-color-black font-weight-bold line-height-1 text-6 mt-3 mb-2">TIPE B</h4>
                                <h3 class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 mb-3">Kerusakan 10%</h3>
                                <p class="text-color-black text-4 line-height-8 mb-3-5">Sangat layak digunakan, Bahan bangunan sudah standar</p>
                                <a href="{% url 'rtlh_app:detailB' %}"
                                    class="custom-view-more d-inline-flex font-weight-semibold text-color-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-6 mb-5-5">
                        <div id="teamMember3" class="row align-items-center">
                            <div class="col-lg-5 col-xl-6 pe-lg-0 mb-0">
                                <img src="{% static 'assets/img/team/tipe c.jpeg' %}" class="img-fluid" alt="Image of the team member" />
                            </div>
                            <div class="col-lg-7 col-xl-6 ps-lg-4">
                                <h4 class="text-color-black font-weight-bold line-height-1 text-6 mt-3 mb-2">TIPE C</h4>
                                <h3 class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 mb-3">Kerusakan 40%</h3>
                                <p class="text-color-black text-4 line-height-8 mb-3-5">Kurang layak huni, </p>
                                <a href="{% url 'rtlh_app:detailC' %}"
                                    class="custom-view-more d-inline-flex font-weight-semibold text-color-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-6 mb-5-5">
                        <div id="teamMember4" class="row align-items-center">
                            <div class="col-lg-5 col-xl-6 pe-lg-0 mb-0">
                                <img src="{% static 'assets/img/team/tipe d.jpeg' %}" class="img-fluid" alt="Image of the team member" />
                            </div>
                            <div class="col-lg-7 col-xl-6 ps-lg-4">
                                <h4 class="text-color-black font-weight-bold line-height-1 text-6 mt-3 mb-2">TIPE D</h4>
                                <h3 class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 mb-3">Kerusakan 60%</h3>
                                <p class="text-color-black text-4 line-height-8 mb-3-5">Kurang layak huni</p>
                                <a href="{% url 'rtlh_app:detailD' %}"
                                class="custom-view-more d-inline-flex font-weight-semibold text-color-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-6 mb-5-5">
                        <div id="teamMember4" class="row align-items-center">
                            <div class="col-lg-5 col-xl-6 pe-lg-0 mb-0">
                                <img src="{% static 'assets/img/team/tipe e.jpeg' %}" class="img-fluid" alt="Image of the team member" />
                            </div>
                            <div class="col-lg-7 col-xl-6 ps-lg-4">
                                <h4 class="text-color-black font-weight-bold line-height-1 text-6 mt-3 mb-2">TIPE E</h4>
                                <h3 class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 mb-3">Kerusakan 80%</h3>
                                <p class="text-color-black text-4 line-height-8 mb-3-5">Tidak layak huni</p>
                                <a href="demo-insurance-insurances-detail.html" class="text-decoration-none custom-link-hover-effects pb-5"></a>
                                <a href="{% url 'rtlh_app:detailE' %}"
                                    class="custom-view-more d-inline-flex font-weight-semibold text-color-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-6 mb-5-5">
                        <div id="teamMember4" class="row align-items-center">
                            <div class="col-lg-5 col-xl-6 pe-lg-0 mb-0">
                                <img src="{% static 'assets/img/team/tipe f.jpeg' %}" class="img-fluid" alt="Image of the team member" />
                            </div>
                            <div class="col-lg-7 col-xl-6 ps-lg-4">
                                <h4 class="text-color-black font-weight-bold line-height-1 text-6 mt-3 mb-2">TIPE F</h4>
                                <h3 class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 mb-3">Kerusakan 100%</h3>
                                <p class="text-color-black text-4 line-height-8 mb-3-5">Tidak layak huni, Membahayakan penghuninya</p>
                                <a href="{% url 'rtlh_app:detailF' %}"
                                class="custom-view-more d-inline-flex font-weight-semibold text-color-primary">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</div>


{% include 'layouts2/footer.html' %}